.icons li {
    list-style: none;
    display: inline;
}

.icons a:link {
    text-decoration: none;

}

.icons a:visited {
    text-decoration: none;

}

.icons a:hover {
    text-decoration: none;

}

.icons a:active {
    text-decoration: none;

}

.copyright {
    list-style: none;
    display: inline;
}